{% extends 'eminer/base.html' %}
{% load django_markdown %}
{% block index_view %}
        <p>I develope this blog to show my passion towards Python and Data analysis. I've just started developing this blog. </p>
        <p>This blog has basic functionalities like user registration and posting options to the registered users.</p>
Functionality: <p>A normal registred user can write a post related to academics or education, but they can't publish it on the blog(i.e only published posts are shared publicly).</p>
        <p>Those posts completed are scrutinized by the admin and they get posted if they are valid.</p>
{% endblock %}