{% extends 'eminer/base.html' %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% block index_view %}
        <div class='post_form'>
                {% crispy form %}
</div>
        <div class='form_field'>
            <a href="{% url 'add_tag' %}">Add Tag</a>
</div>
        <div class='not_published'>
            {% if not_published %}
            <h3>Not Published Posts:</h3>
            <ol>
            {% for not_publish in not_published %}
            <li><a style='color:#333; text-decoration:none;' href="/blog/{{ not_publish.slug }}/">{{ not_publish.title }}</a><a style='color:#aaa; text-decoration:none;' href="/blog/edit/{{ not_publish.slug }}/"> edit</a></li>
            <p style='font-size:15px;color:#aaa;'>Last Modification on:{{ not_publish.modified }}</p>
            {% endfor %}</ol>
            {% endif %}

</div>
{% endblock %}