<!DOCTYPE html>
{% load static %}
{% load django_markdown %}
<html>
<head>
    <title>{% block title %}E-miner.com {% endblock %}</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/base.css' %}"/>
</head>
<body>
    <a style='text-decoration:none;color:#000;' href="{% url 'home' %}"><h1>E-Miner</h1></a>
    <h5>Following my Passion!</h5>
    <div class='index_view'>
        <div class='nav_bar'>
            <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'add_post' %}">AddPost</a></li>
            </ul>
        </div>
        <div>
        <div class='side_view'>
            
            <div class='author_view'>
                <h3>About the Author:</h3>
                <img src="{% static 'images/pro.jpg' %}"/>
                <h4>Sreenivasa Rao Pallapu</h4>
                <p>Passionate about programming especially Python. Interested in Artificial intelligence and Data Mining. Self motivated and self taught. A quick learner. Presently working towards python machine learning packages, Numpy, Pandas, Scipy, Scikit-learn.</p>
            </div>
            <div class='follow_author'>
                <h4>Follow Author on ...</h4>
                <ul>
                <li><a href='https://in.linkedin.com/in/sreenivas134'><img src="{% static 'images/linkedin.png' %}"/></a></li>
                <li><a href='https://www.facebook.com/sreenivas.pallapu'><img src="{% static 'images/facebook.png' %}"/></a></li>
                <li><a href='https://twitter.com/sreenivaseng'><img src="{% static 'images/twitter.png' %}"/></a></li>
                <li><a href='https://in.pinterest.com/sreenivas134/'><img src="{% static 'images/pinterest.png' %}"/></a></li>
                </ul>
            </div>
            
        </div>
                
        <!--posts goes here -->
        <div class='post_view'>{% block index_view %}{% endblock %}</div>
    </div>
        <!--Footer Goes here-->
    <div class='footer_view'>
        <div class='recent_posts'>
            <h3 style='padding-left:50px;'>Recent Posts:</h3>
            {% if recent %}
            <ul>
            {% for post in recent %}
                <li><a href="/blog/{{ post.slug }}/">{{ post.title }}</a></li><span style='font-size:10px;color:#aaa;'>{{ post.posted }}</span><hr style='color:#222;'/>
            {% endfor %}
             </ul>
            {% endif %}
           
        </div>
        
        </div>
    <div class='copy_view'>
        <span style='position:relative;top:15px;float:right;'>&copy 2015 Eminer.pythonanywhere.com</span>
        </div>
</div>
</body>
</html>