
{% extends 'eminer/base.html' %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% block index_view %}
        {% for post in posts %}
        <div class='post_head'><a style='text-decoration:none;color:#222;' href="/blog/{{ post.slug }}/"><h2>{{ post.title }}</h2></a></div>
        <div class='tags'>{{post.posted }} | Tagged Under: 
            {% for tags in post.tag.all %}
            <a style='text-decoration:none;color:#444;' href="/blog/tags/{{ tags }}">{{ tags }}{% if not forloop.last %}, {% endif %}</a>
            {% endfor %} 
            </div><br/><hr/>
        <div class='post_body'>{{ post.body|markdown }}</div>
{% include 'eminer/social.html' %}
        <hr/><br /><hr />
        {% empty %}
            Sorry, No Older posts Exist!
        {% endfor %}
{% if posts %}
<div class="next_page">
<a href="/blog/pages/{{ count }}/">Next Page>>></a></div>
{% endif %}
{% endblock %}