
{% extends 'eminer/base.html' %}
{% load django_markdown %}
{% block index_view %}
        {% for post in posts %}
        <div class='post_head'><a style='text-decoration:none;color:#222;' href="/blog/{{ post.slug }}/"><h2>{{ post.title }}</h2></a></div>
        <div class='tags'>{{post.posted }} | Tagged Under: 
            {% spaceless %}
            {% for tags in post.tag.all %}
            <a style='text-decoration:none;color:#444;' href="/blog/tags/{{ tags }}">{{ tags }}{% if not forloop.last %}, {% endif %}</a>
            {% endfor %} 
            {% endspaceless %}</div><br/><hr style='border-color:#fff;' />
        <div class='post_body'>{{ post.body|markdown }}</div>
        <hr/><br /><hr />
        {% empty %}
            Sorry, No Older posts Exist!
        {% endfor %}
<a style='position:relative;float:right;top:-40px;' href="/blog/pages/{{ count }}/">Next Page>>></a>
{% endblock %}