{% extends 'eminer/base.html' %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% block index_view %}
        {% if post %}
        <div class='post_head'><a style='text-decoration:none;color:#222;' href="/blog/{{ post.slug }}/"><h2>{{ post.title }}</h2></a></div>
        <div class='tags'>{{post.posted }} | Tagged Under: 
            {% for tags in post.tag.all %}
            <a style='text-decoration:none;color:#444;' href="/blog/tags/{{ tags }}">{{ tags }}{% if not forloop.last %}, {% endif %}</a>
            {% endfor %} 
            </div><br/><hr style='border-color:#fff;' />
        <div class='post_body'>{{ post.body|markdown }}</div>
        <hr/><br /><hr />
            {% if form %}
            <div class="publish_form">
                {% crispy form %} 
            </div>
            {% endif %}
        {% endif %}
<a style='position:relative;float:right;top:-40px;' href="/blog/pages/{{ count }}/">Next Page>>></a>
{% endblock %}